*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    justify-content: center;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90rem;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
}


/* General typography */
html {
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 24;
    font-weight: 600;
    color: white;
}

p {
    font-size: 1.8rem;
}

/* Card */
#card {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    margin: auto auto 10rem auto;
    width: 350px;
    padding: 1%;

    background-color: hsl(216, 50%, 16%);
}

/* NFT Section */
#equilibrium {
    border-radius: 3%;
}

#description {
    color: hsl(215, 51%, 70%);
}

/* Details section */
#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-item {
    display: flex;
    justify-content: start;
    align-items: center;
}

#icon {
    color: hsl(178, 100%, 50%);
}

#clock {
    color: hsl(215, 51%, 70%);
}
/* Footer */
#creator {
    display: flex;
}

#avatar {
    border: 0.1rem solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

#name {
    color: hsl(215, 51%, 70%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
