*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General styles */
body {
    color: white;
}

#background {
    margin-top: 10%;
    width: 1440px;
    background-color: hsl(217, 54%, 11%);
}

/* General typography */
body {
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
}

/* Main elements */
#card {
    /* width: 20.4rem; */
    border-radius: 2%;
    margin: auto auto 0 auto;
    padding: 1.3rem;

    background-color: hsl(216, 50%, 16%);
}

#equilibrium {
    /* height: 18.4rem; */
    border-radius: 5%;
}

#card-title {
    font-size: 24;
    font-weight: 600;
    color: white;
}







.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}